.stepper-component {
  display: flex;
  flex-direction: column;
}

.stepper-component .stepper-header {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 350px;
}

.stepper-component .stepper-header .stepper-header-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-header-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 10px;
  border-radius: 50%;
  background: var(--color-background);
  border: 1px solid var(--color-light-gray);
  margin-bottom: 6px;
}

.stepper-header-item::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--color-light-gray);
  width: 100%;
  top: 17px;
  left: 50%;
  z-index: 2;
}
.stepper-header-item:last-child::after {
  width: 0%;
}

.stepper-header .completed .step-counter {
  background-color: var(--color-primary);
  color: var(--color-text-white);
}

.stepper-header .completed::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--color-primary);
  width: 100%;
  top: 17px;
  left: 0%;
  z-index: 3;
}
.completed:first-child::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--color-primary);
  width: 50%;
  top: 17px;
  left: 50%;
  z-index: 3;
}
.completed:last-child::before {
  width: 50%;
  left: 0%;
}

@media only screen and (max-width: 700px) {
  .stepper-component .stepper-header {
    width: 280px;
  }
}
